---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CardCategroies from '@/components/AsideCards/CardCategroies.astro'
import CardInfo from '@/components/AsideCards/CardInfo.astro'
import CardTagCloud from '@/components/AsideCards/CardTagCloud.astro'
import PostCard from '@/components/PostCard.astro'
import type { GetStaticPaths } from 'astro'
import posts from '@/content/posts'
import PostPageNav from '@/components/PostPageNav.astro'

export const getStaticPaths = (async ({ paginate }) => {
  return paginate(posts, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<BaseLayout>
  <aside slot="aside">
    <CardInfo />
    <CardCategroies />
    <CardTagCloud />
  </aside>
  {page.data.map((post) => (
    <div class="mb5"><PostCard {post} /></div>
  ))}

  <PostPageNav {page}/>
</BaseLayout>
