---
import { Icon } from "astro-icon/components";
import If from "../atomic/If.astro";

interface Props {
  pnCurr: number, //当前页
  pnLast: number, //最后页
  urlPrefix: string, //路径前缀
  urlFirst?: string //第一页路径
};

const { pnCurr, pnLast, urlPrefix, urlFirst } = Astro.props;
const pnList = Array.from({length:pnLast},((_,i)=>i+1))
const pnPrev = pnCurr <= 1 ? null : pnCurr - 1
const pnNext = pnCurr >= pnLast ? null : pnCurr + 1
const pnUrl = (pn: number) => pn == 1 ? urlFirst || urlPrefix + 1 : urlPrefix + pn
---

<nav class="flex justify-center my6 ">
  <div class="flex space-x-2">
    <If condition={pnPrev}>
      <a class="btn-num" href={pnUrl(pnPrev!)}><Icon name="mdi:chevron-left"/></a>
    </If>
    {
      pnList.map(pn => (
        <a class="btn-num" href={pnUrl(pn)} style={pn==pnCurr?'background-color:#7B9EB6;num:#fff;':''}>{pn}</a>
      ))
    }
    <If condition={pnNext}>
      <a class="btn-num" href={pnUrl(pnNext!)}><Icon name="mdi:chevron-right"/></a>
    </If>
  </div>
</nav>