---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CardInfo from '@/components/AsideCards/CardInfo.astro'
import CardCategroies from '@/components/AsideCards/CardCategroies.astro'
import CardTagCloud from '@/components/AsideCards/CardTagCloud.astro'
import Markdown from '@/components/atomic/Markdown.astro'
import posts, { type Post } from '@/content/posts'
import PostSummary from '@/components/PostSummary.astro'
import PostCard from '@/components/PostCard.astro'
import If from '@/components/atomic/If.astro'
---

<BaseLayout>
  <aside slot="aside">
    <CardInfo />
    <CardCategroies />
    <CardTagCloud />
  </aside>

  <div class="card p10 mb5">
    <Markdown>
# Hi there! 👋
This is the Antares theme  
A blog template based on Astro
    </Markdown>
  </div>

  <If condition={posts.length > 0}>
    <div class="mb5">
      <PostCard post={posts[0]} showBody>
        <span class="ml2 btn-sm text-textPrim" slot="title-after">最新文章</span>
      </PostCard>
    </div>
  </If>
  
  <If condition={posts.length > 1}>
    <div class="flex flex-wrap">
      {posts.slice(1,5).map((post,i) => (
        <div class="inline-block card p5 mb5 w-[calc(50%-6px)]" style={i%2==0?'margin-right:12px':''}>
          <div><PostSummary {post}/></div>
        </div>
      ))}
    </div>
  </If>

</BaseLayout>
