---
import '@/styles/markdown-standard.scss'
import '@/styles/markdown-mini.scss'
import '@/styles/expressive-code.scss'
import { markdown2html } from '@/utils/markdown'
import If from './If.astro'

interface Props {
  contentStyle?: 'standard'|'mini'|'off'
}

const { contentStyle = 'standard' } = Astro.props

//use in .astro file, is markdown
//use in .mdx file, is rendered html
const markdownOrhtml = ((await Astro.slots.render('default'))||'').trim()
const html = markdownOrhtml.startsWith('<') ? markdownOrhtml : (await markdown2html(markdownOrhtml))
---

<If condition={contentStyle==='standard'}>
  <div class="markdown-standard"><Fragment set:html={html}><slot></slot></Fragment></div>
</If>
<If condition={contentStyle==='mini'}>
  <div class="markdown-mini"><Fragment set:html={html}><slot></slot></Fragment></div>
</If>
<If condition={contentStyle==='off'}>
  <Fragment set:html={html}><slot></slot></Fragment>
</If>

